body {
    background-image: url('irs3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    background: orange;
    text-align: center;
    font-size: 38px;
    padding: 20px lem;
    font-weight: bold;
    margin-left: 35%;
    margin-right: 35%;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

marquee {
    background: green;
    font-size: 20px;
    padding-top: 6px;
    margin: -23px;
    margin-left: 35%;
    margin-right: 35%;
    cursor: pointer;
}

fieldset {
    background-color: #c0c0c0;
    width: 45%;
    margin: auto;
    border: 1px solid #000;
    text-align: left;
    font-size: 20px;
    font-family: lato, sans-serif;
}

input[type=number],
[id] {
    background: #fff;
    border: 1px solid #000;
    border-radius: 2px;
    border-width: 1px;
    color: #36454b;
    font-size: 15px;
    margin: 5px;
    padding: 12px;
    display: inline-block;
}

input[type=button] {
    width: 80px;
    height: 43px;
    font-weight: bold;
}

input[type=reset] {
    width: 95px;
    height: 43px;
    font-weight: bold;
}